<div class="col-md-3">
    <a href="/admin/dashboard"><button class="btn btn-danger form-control mt-3 ">Home</button></a>
    <a href="/admin/users"><button class="btn btn-danger form-control mt-2 mb-3">User's Management</button></a>
</div>